<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://images.pexels.com/photos/1290141/pexels-photo-1290141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 100vh;
  "
>
<form class="bg-body-secondary bg-opacity-75 form-signin w-100 m-auto rounded-4">
    <h1 class="h3 mb-3 fw-normal">Welcome</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">User Name</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2 mt-1" type="submit">Sign in</button>
    <p class="mt-2 fw-light "><a href="">Forgot Password ?</a></p>
  </form>
</div>
</body>
</html>