<!-- navbar start -->
<nav class="navbar" style="background-color: #fa9800c7">

  <div class="container-fluid">
    <p class="h4">Readers</p>
    <form class="d-flex ms-auto" role="search">
      <input class="form-control me-2 d-flex " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success justify-content-end " type="submit">Search</button>
      <button class="btn btn-primary justify-content-end ms-5 " (click)="clearNewReader()" data-bs-toggle="modal"
        data-bs-target="#add-reader-modal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
          <path fill-rule="evenodd"
            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
        </svg></button>
    </form>
  </div>
</nav>
<!-- navbar end -->

<!-- table start -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">NIC</th>
      <th scope="col">Address</th>
      <th scope="col">Contacts</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reader of readersList">
      <th scope="row">RID#{{reader.readerId}}</th>
      <td>{{reader.name}}</td>
      <td>{{reader.nic}}</td>
      <td>{{reader.address}}</td>
      <td>{{reader.contact}}</td>
      <td>
        <button (click)="saveReaderWithId(reader)" class="btn btn-outline-success mx-1" data-bs-toggle="modal"
          data-bs-target="#update-reader-modal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
            viewBox="0 0 16 16">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
          </svg>
        </button>
        <button (click)="saveReader(reader)" class="btn btn-outline-danger mx-1" data-bs-toggle="modal"
          data-bs-target="#delete-reader-modal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
            viewBox="0 0 16 16">
            <path
              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- table end -->

<!-- add reader modal start -->
<div class="modal fade" data-bs-backdrop="static" id="add-reader-modal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-4 text-center h1 ms-auto" id="exampleModalLabel">Create a new Reader Profile</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container">
        <form class="row g-3 " [formGroup]="addReaderForm" (submit)="addReader()">
          <div class="col-6">
            <label for="validationCustom01" class="form-label mb-1 mt-3">First Name</label>
            <input [(ngModel)]="newReader.firstName" formControlName="firstName" [ngClass]="(addReaderForm.get('firstName').touched || addReaderForm.get('firstName').dirty) 
              && addReaderForm.get('firstName').errors ? 'is-invalid':'' ||
               (addReaderForm.get('firstName').touched || addReaderForm.get('firstName').dirty) 
              && !addReaderForm.get('firstName').invalid ? 'is-valid':''" type="text" class="form-control"
              id="validationCustom01">
            <div class="invalid-feedback">
              Please provide a valid first name
            </div>
          </div>
          <div class="col-6">
            <label for="validationCustom02" class="form-label mb-1 mt-3">Last Name</label>
            <input type="text" [(ngModel)]="newReader.lastName" class="form-control" id="validationCustom02"
              formControlName="lastName" [ngClass]="(addReaderForm.get('lastName').touched || addReaderForm.get('lastName').dirty) &&
                addReaderForm.get('lastName').errors ? 'is-invalid' : '' ||
                (addReaderForm.get('lastName').touched || addReaderForm.get('lastName').dirty) &&
                !addReaderForm.get('lastName').invalid ? 'is-valid' : ''">
            <div class="invalid-feedback">
              Please provide a valid last name
            </div>
          </div>
          <div class="col-6">
            <label for="validationCustom03" class="form-label mb-0">NIC</label>
            <input [(ngModel)]="newReader.nic" name="nic" type="text" class="form-control" id="validationCustom03"
              formControlName="nic" [ngClass]="(addReaderForm.get('nic').touched || addReaderForm.get('nic').dirty) &&
              addReaderForm.get('nic').hasError('required') ? 'is-invalid' : '' ||
            (addReaderForm.get('nic').touched || addReaderForm.get('nic').dirty) &&
              addReaderForm.get('nic').hasError('pattern') ? 'is-invalid' : '' ||
            (addReaderForm.get('nic').touched || addReaderForm.get('nic').dirty) &&
              !addReaderForm.get('nic').invalid ? 'is-valid' : ''">
            <div class="invalid-feedback">
              {{
              addReaderForm.get('nic').hasError('required') ? "Please provide your NIC number" : ''
              }}
              {{
              addReaderForm.get('nic').hasError('pattern') ? "Please provide valid NIC (12 digits or 9 digits with 'v')"
              : ''
              }}

            </div>
          </div>
          <div class="col-6">
            <label for="validationCustom03" class="form-label mb-0">Contact</label>
            <input [(ngModel)]="newReader.contact" type="text" class="form-control" id="validationCustom03"
              formControlName="contact" [ngClass]="(addReaderForm.get('contact').touched || addReaderForm.get('contact').dirty) &&
              addReaderForm.get('contact').hasError('required') ? 'is-invalid' : '' ||
            (addReaderForm.get('contact').touched || addReaderForm.get('contact').dirty) &&
              addReaderForm.get('contact').hasError('pattern') ? 'is-invalid' : '' ||
            (addReaderForm.get('contact').touched || addReaderForm.get('contact').dirty) &&
              !addReaderForm.get('contact').invalid ? 'is-valid' : ''">
            <div class="invalid-feedback">
              {{
              addReaderForm.get('contact').hasError('required') ? "Please provide your Contact number" : ''
              }}
              {{
              addReaderForm.get('contact').hasError('pattern') ? "Please provide valid NIC (10 digits starting with 0)"
              : ''
              }}
            </div>
          </div>
          <div class="col-12">
            <label for="validationCustom03" class="form-label mb-0">Address</label>
            <textarea [(ngModel)]="newReader.address" type="text" class="form-control" id="validationCustom03"
              formControlName="address" [ngClass]="(addReaderForm.get('address').touched || addReaderForm.get('address').dirty) &&
                addReaderForm.get('address').errors ? 'is-invalid' : '' ||
              (addReaderForm.get('address').touched || addReaderForm.get('address').dirty) &&
                !addReaderForm.get('address').invalid ? 'is-valid' : ''"></textarea>
            <div class="invalid-feedback">
              Please provide a valid Address.
            </div>
          </div>
          <div class="col-12">
            <label for="validationCustom03" class="form-label mb-0">Gmail</label>
            <input [(ngModel)]="newReader.gmail" type="text" class="form-control" id="validationCustom03"
              formControlName="gmail" [ngClass]="(addReaderForm.get('gmail').touched || addReaderForm.get('gmail').dirty) &&
              addReaderForm.get('gmail').hasError('required') ? 'is-invalid' : '' ||
            (addReaderForm.get('gmail').touched || addReaderForm.get('gmail').dirty) &&
              addReaderForm.get('gmail').hasError('pattern') ? 'is-invalid' : '' ||
            (addReaderForm.get('gmail').touched || addReaderForm.get('gmail').dirty) &&
              !addReaderForm.get('gmail').invalid ? 'is-valid' : ''">
            <div class="invalid-feedback">
              {{
                addReaderForm.get('gmail').hasError('required') ? "Please provide your Gmail Address" : ''
                }}
                {{
                addReaderForm.get('gmail').hasError('pattern') ? "Please provide valid Gmail ( yourmail@gmail.com )"
                : ''
                }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button [disabled]="addReaderForm.invalid" type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- add reader modal end -->

<!-- add reader modal start -->
<div class="modal fade" id="add-reader-modal-old" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a Reader</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name :</label>
            <input type="text" [(ngModel)]="newReader.firstName" name="name" class="form-control" id="reader-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">NIC Number :</label>
            <input type="text" [(ngModel)]="newReader.nic" name="nic" class="form-control" id="reader-nic">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Contact Number :</label>
            <input type="text" [(ngModel)]="newReader.contact" name="contact" class="form-control" id="reader-contact">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Address :</label>
            <input type="text" [(ngModel)]="newReader.address" name="address" class="form-control" id="reader-address">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="addReader()" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- add reader modal end -->

<!-- update reader modal start -->
<div class="modal fade" id="update-reader-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Reader</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label disabled">ReaderID :</label>
            <input type="text" [(ngModel)]="recentSavedUpdateReader && recentSavedUpdateReader.readerId"
              [ngModelOptions]="{standalone:true}" name="readerId" class="form-control" id="reader-id" disabled>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name :</label>
            <input type="text" [(ngModel)]="recentSavedUpdateReader && recentSavedUpdateReader.name"
              [ngModelOptions]="{standalone:true}" name="name" class="form-control" id="reader-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">NIC Number :</label>
            <input type="text" [(ngModel)]="recentSavedUpdateReader && recentSavedUpdateReader.nic"
              [ngModelOptions]="{standalone:true}" name="nic" class="form-control" id="reader-nic">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Contact Number :</label>
            <input type="text" [(ngModel)]="recentSavedUpdateReader && recentSavedUpdateReader.contact"
              [ngModelOptions]="{standalone:true}" name="contact" class="form-control" id="reader-contact">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Address :</label>
            <input type="text" [(ngModel)]="recentSavedUpdateReader && recentSavedUpdateReader.address"
              [ngModelOptions]="{standalone:true}" name="address" class="form-control" id="reader-address">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateReader()" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>
<!-- update reader modal end -->

<!-- delete reader modal starts -->
<div class="modal fade" id="delete-reader-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-content rounded-3 shadow">
        <div class="modal-body p-4 text-center">
          <h5 class="mb-0">Delete Reader</h5>
          <p class="mb-0">Are you sure to delete <strong>'{{recentSavedReader?.name}}'</strong> ?</p>
        </div>
        <div class="modal-footer flex-nowrap p-0">
          <button type="button" (click)="deleteReader(recentSavedReader.readerId)"
            class="btn btn-lg fs-6 col-6 py-3 m-0 rounded-0 border-end" data-bs-dismiss="modal"><strong
              class="text-danger">Delete</strong></button>
          <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
            data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- delete reader modal end -->